.join {
	
	-fx-font-family: "Helvetica";
	 -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
     -fx-font-family: "Helvetica";
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.join:hover {
	-fx-font-family: "Helvetica";
	-fx-background-color:
        #c3c4c4,
        linear-gradient(#ffffff 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
     
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
#city {
	  -fx-fill: linear-gradient(#ffd65b, #e68400),
                linear-gradient(#ffea6a, #efaa22),
                linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
                linear-gradient(frotestm 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
        -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 10 );
         -fx-font-family: "Helvetica";
  }
  
#citycircle {
	    -fx-background-color: black;
	     -fx-font-family: "Helvetica";
	
}  
 
#track {
	-fx-stroke-width: 10px;
	-fx-fill: 	linear-gradient(#ffd65b, #e68400), 
				linear-gradient(#ffea6a, #efaa22), 
				linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%), 
				linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), 
				rgba(255,255,255,0));
	-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 20, 0.2 , 2 , 4 );
	-fx-stroke-line-cap: round;
	-fx-stroke-line-join: round;
} 

.label {
		-fx-text-fill: #d86e3a;
        -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.9) , 1, 0.1 , 0 , 2 );
}

#ressource {
	-fx-padding: 5 7 7 7;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 5;
    -fx-text-alignment: center;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
}



.buttondark {
	 -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
.buttondark:hover {
	 -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#2a2b2a 0%, #505250 50%, #606060 51%, #777777 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}